.alpackages/Microsoft_System_19.0.31889.32155.app
.alpackages/Microsoft_System Application_19.1.31886.32186.app
.alpackages/Microsoft_Base Application_19.1.31886.32186.app
.alpackages/Microsoft_Application_19.1.31886.32186.app
